<ion-item>
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{ offer.title }}</h2>
    <div class="offer-details">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{ offer.availableFrom | date }}</ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{ offer.availableTo | date }}</ion-text>
    </div>
    <p>{{ offer.description }}</p>
  </ion-label>
</ion-item>
